<footer class="page-footer font-small blue">

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">&copy; 2018 XXXX. All Rights Reserved |
    Designed by <a href="http://ABC.com/">XXXX</a> 
  </div>
  <!-- Copyright -->

</footer>