<!DOCTYPE html>
<html lang="en">
<head>
    {{>head}}
</head>
<body>
<header>
    <div class="container">
        <div class="row">
            <div class="col-md-6 text-align--left float--left">
                <img src="/public/images/web_logo_white_x50.png" class="img-responsive" style="height:34px;"/>
            </div>
            <div class="col-md-6 text-align--right float--right">
                <div class="user_dropdown">

                    <div class="dropdown">
                        <h5 class="u_name">BrandName</h5>
                        <i class="fa fa-angle-down"></i>
                        <div class="dropdown-content">
                            <a class="nav-link" href="/">Home</a>
                            <a class="nav-link" href="/user/logout">Logout</a>
                        </div>
                    </div>
                </div>
                <div class="user_img">
                    <img src="/public/images/my_profile_pic.png" />
                </div>
            </div>
        </div>
    </div>
</header>

<div class="container two">
    <h1>Some Content Here</h1>
</div>


</body>
</html>