<html lang="en">
<head>
    <title>Login to CMS</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <style>
        .login-body {
            background: url("/public/img/login-bg.jpg");
            background-repeat: no-repeat;
            width: 100%;
            min-height: 100vh;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
            padding: 15px;
            background-size: cover;
            background-position: center;
            position: relative;
            z-index: 1;
        }
        .login-body::before {
            content: "";
            display: block;
            position: absolute;
            z-index: -1;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            background: rgba(93,84,240,0.5);
            background: -webkit-linear-gradient(left, rgba(0,168,255,0.5), rgba(185,0,255,0.5));
            background: -o-linear-gradient(left, rgba(0,168,255,0.5), rgba(185,0,255,0.5));
            background: -moz-linear-gradient(left, rgba(0,168,255,0.5), rgba(185,0,255,0.5));
            background: linear-gradient(left, rgba(0,168,255,0.5), rgba(185,0,255,0.5));
            pointer-events: none;
        }
        .login-box-wrapper {
            width: 450px;
            height: 440px;
            position: relative;
            top: 90px;
            margin: 0 auto;
        }
        .login-box {
            height: 100%;
            width: 100%;
            background: white;
            border-radius: 5px;
            padding: 10px 30px;
            -webkit-box-shadow: 0 2px 20px rgba(0,0,0,.19), 0 4px 6px rgba(0,0,0,.23);
               -moz-box-shadow: 0 2px 20px rgba(0,0,0,.19), 0 4px 6px rgba(0,0,0,.23);
                    box-shadow: 0 2px 20px rgba(0,0,0,.19), 0 4px 6px rgba(0,0,0,.23);
        }
        .login-box span {
            color: red;
        }
        .admin-heading {
            margin-bottom: 30px;
            font-weight: bold;
        }
        .group-buttons {
            margin-top: 20px;
        }
        .group-buttons input {
            padding: 6px 25px;
        }
        .register-text p {
            color: #979797;
            font-size: 13px;
        }
        .register-text a:hover {
            text-decoration: none;
        }
        .login-copyright-wrapper {
            position: relative;
            bottom: 0;
            text-align: center;
        }
        .login-copyright-wrapper p {
            color: #4c4c4c;
        }
        .login-copyright-wrapper a {
            color: #4c4c4c;
        }
    </style>
</head>
<body class="login-body">
    <body>
        <div class="container">
            <div class="login-box-wrapper">
                <div class="login-box">
                    <h3 class="text-center admin-heading">Admin Login</h3>
                    <form action="/user/login" method="post">
                    <input type="hidden" name="_csrf" value="{{csrfToken}}">
                        <div class="form-group has-success">
                            <label for="emailAddress">Email <span>*</span></label>
                            <div class="input-group">
                                <span class="input-group-addon">@</span>
                                <input type="email" name="email" id="emailAddress" class="form-control" placeholder="Your E-mail" required/>
                            </div>                           
                        </div>                       
                        <div class="form-group has-success">
                            <label for="loginPassword">Password <span>*</span></label>
                            <div class="input-group">
                                <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                                <input type="password" name="password" id="loginPassword" class="form-control" placeholder="Password" required/>
                            </div>
                        </div>
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" checked> Remember Me
                            </label>
                        </div>                       
                        <div class="text-center group-buttons">
                            <input type="submit" class="btn btn-success" value="Submit" />
                            <input type="reset" class="btn btn-danger" value="Cancel" />
                        </div>                       
                    </form>
                    <div class="text-center register-text">
                        <p>Not a member yet? <a href="/user/signup">Register Now</a></p>
                    </div>                 
                </div>          
            </div>
        </div>
        <div class="container">
            <div class="login-copyright-wrapper">
                <p>&copy; 2018 CMS Login Form. All Rights Reserved</p>
            </div>
            <br>
        </div>
    </body>
</html>